[submodule "sapi/fpm"]
	path = sapi/fpm
	url = git://github.com/ryantenney/php-fpm-mirror.git
[submodule "ext/xhp"]
	path = ext/xhp
	url = git://github.com/facebook/xhp.git
[submodule "ext/memcached"]
	path = ext/memcached
	url = git://github.com/memcached/memcached.git
[submodule "ext/oauth"]
	path = ext/oauth
	url = git://github.com/ryantenney/php-oauth.git
[submodule "ext/uuid"]
	path = ext/uuid
	url = git://github.com/ryantenney/php-uuid.git
