[submodule "sapi/fpm"]
	path = sapi/fpm
	url = git://github.com/ryantenney/php-fpm-mirror.git
[submodule "ext/xhp"]
	path = ext/xhp
	url = git://github.com/facebook/xhp.git
[submodule "ext/memcached"]
	path = ext/memcached
	url = git://github.com/memcached/memcached.git
